<main class="walk">
  <h1>{{$ctrl.name}}</h1>
  <p ng-show="!$ctrl.loaded">Loading; please wait&hellip;</p>
  <p ng-show="$ctrl.loaded && !$ctrl.hasData">There is no route information</p>
  <p ng-show="$ctrl.loaded && !$ctrl.hasData">Something probably went wrong. Please try again, later</p>
  <section ng-show="$ctrl.hasData">
    <dl>
      <dt>Number of snacks</dt><dd>{{$ctrl.snacks}}</dd>
    </dl>
    <div id="map">
      <div map-lazy-load="https://maps.google.com/maps/api/js"
           map-lazy-load-params="{{$ctrl.googleMapsURL}}">
        <ng-map center="{{$ctrl.centre.latitude + ',' + $ctrl.centre.longitude}}" zoom="13">
          <shape id="polyline"
                 name="polyline"
                 ng-if="$ctrl.loaded && $ctrl.hasData"
                 geodesic="true"
                 stroke-color="#5e519d"
                 stroke-opacity="1.0"
                 stroke-weight="3"
                 path="{{$ctrl.waypoints}}" >
          </shape>
          <marker position="{{$ctrl.origin}}"
                  title="Start"
                  draggable="false"
                  animation="Animation.DROP">
          </marker>
          <marker position="{{$ctrl.destination}}"
                  title="Finish"
                  label="{
                    fontFamily: 'Material Icons',
                    text: 'flag'
                  }"
                  draggable="false"
                  animation="Animation.DROP">
          </marker>
        </ng-map>
      </div>
    </div>
  </section>
</main>
