@import "../../common/common";

.walk {
  background-color: #ffffff;
  padding: 0 1rem 1rem;

  .back {
    border: 0.1rem solid $fontColour;
    border-radius: 1rem;
    color: $fontColour;
    display: inline-block;
    line-height: 3rem;
    margin-bottom: 1rem;
    padding: 0 1rem;
    text-decoration: none;

    &, i {
      font-size: 1rem;
    }
    i {
      vertical-align: text-bottom;
    }
  }

  dt, dd {
    background-color: $heroPrimary;
    color: $heroPrimaryContrast;
    display: inline-block;
    line-height: 3rem;
    padding: 0 1rem;
  }

  dt {
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    font-size: 1rem;

    &::before {
      content: 'pets';
      font-family: 'Material Icons';
      font-size: 2rem;
      padding-right: 1rem;
      vertical-align: bottom;
    }
  }

  dd {
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
  }
}
