@import '../common';

.navbar {
  background-color:#ffffff;
  margin: 0 -2rem;
  padding: 0 2rem;

  h3 {
    display: inline-block;
    font-size: 1rem;
    a {
      color: $fontColour;
      text-decoration: none;
    }

    &::after {
      color: $heroPrimary;
      content: 'pets';
      font-family: 'Material Icons';
      font-size: 1.5rem;
      margin-left: 0.3rem;
      vertical-align: text-bottom;
    }
  }

  .logo {
    display: inline-block;
  }

  .logo {
    color: $lightTextColor;
    margin-right: 50%;
  }

  .nav-links span {
    color: $lightTextColor;
    font-size: 1.6rem;
  }
}
